[submodule "MysqliToPdoBundle"]
	path = MysqliToPdoBundle
	url = git@github.com:/Seredos/MysqliToPdoBundle.git
[submodule "MySqlQueryBuilderBundle"]
	path = MySqlQueryBuilderBundle
	url = git@github.com:MySqlQueryBuilderBundle/MySqlQueryBuilderBundle.git
